{% load static %}

<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript"> document.documentElement.className = 'js'; </script>
    <script
        type="text/javascript"> let jqueryParams = [], jQuery = function (r) { return jqueryParams = [...jqueryParams, r], jQuery }, $ = function (r) { return jqueryParams = [...jqueryParams, r], $ }; window.jQuery = jQuery, window.$ = jQuery; let customHeadScripts = !1; jQuery.fn = jQuery.prototype = {}, $.fn = jQuery.prototype = {}, jQuery.noConflict = function (r) { if (window.jQuery) return jQuery = window.jQuery, $ = window.jQuery, customHeadScripts = !0, jQuery.noConflict }, jQuery.ready = function (r) { jqueryParams = [...jqueryParams, r] }, $.ready = function (r) { jqueryParams = [...jqueryParams, r] }, jQuery.load = function (r) { jqueryParams = [...jqueryParams, r] }, $.load = function (r) { jqueryParams = [...jqueryParams, r] }, jQuery.fn.ready = function (r) { jqueryParams = [...jqueryParams, r] }, $.fn.ready = function (r) { jqueryParams = [...jqueryParams, r] };</script>
    <!-- This site is optimized with the Yoast SEO plugin v19.8 - https://yoast.com/wordpress/plugins/seo/ -->
    <title></title>



</head>

<body>
    <div id="container">
        <div id="logged_out_generator">
            <div> <label for="showhide">Show password:
                </label> <input type="checkbox" id="showhide" onclick="toggleShowHide(this)" />
                </span></div>
            <div id="complexity"> <input id="lgd_out_pg_pass" type="password" onkeyup="checkThisPassword(this.value);"
                    placeholder="Type a password" value="" /> <div id="complexity-span" class="pmshow">No
                    Password</div>
            </div>
            <div class="generate_button chars_holder">
                <span id="character_count">0</span>
                characters
            </div>
            <div class="breaker"> </div>
        </div>
        <div class="result col_left"><span id="first_estimate"> </span></div>
        <div class="result col_right" style="padding-top: 0px;margin-top: 0px;">
        </div>
    </div>
    <script type="text/javascript" src="{% static '\js\password_js' %}"></script>
</body>

</html>



