{% load static %}
{% load socialaccount %}
<!DOCTYPE html>

<html lang="en">
  <head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/pig_logo-final.png' %}"/>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  
  
  </head>

  <body id="main-page">
    <section id="hero" class="  container-fluid">
      
      <a href="" style="text-decoration:none">
        <h1 class=" d-flex justify-content-center align-items-center pt-5 text-light">
          FOODTRUCK 
            <span class="neonText">
              .HELP
  
            </span>

          </h1>
        </a>
        <p class='d-flex justify-content-center align-items-center text-light'>Your favourite trucks all in one place</p>
  
        
        
    </section>
    <img id="main-image" src="/static/images/landing-page-bg.jpg" alt="" srcset="">
    <a href="{% url 'user_app:register' %}" class="" style="text-decoration:none">
      <div id="get-started" class="button1 shadow-lg">Get Started</div>
    </a>
    <span id="signin1" class="text-light">Sign in with</span>
    <!-- <a id="icons" href="https://www.flaticon.com/free-icons/facebook" title="facebook icons"></a> -->
    
      <a href="{% provider_login_url 'facebook' %}">
        <img class="" id="icons" src="/static/images/facebook.png" alt="Facebook icons created by Ruslan Babkin - Flaticon" srcset="">
      </a>
      <a href="#">
        <img id="icons" src="/static/images/google.png" alt="Google icons created by Ruslan Babkin - Flaticon" srcset="">
      </a>
      <a href="{% provider_login_url 'twitter' %}">
        <img id="icons" src="/static/images/twitter.png" alt="Facebook icons created by Ruslan Babkin - Flaticon" srcset="">
      </a>

      <span class="text-muted" id="signup">Don't have an account? <a href="{% url 'user_app:register' %}"style="text-decoration:none">Sign Up</a></span>

    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Draggable.min.js"></script>
    <script type="text/javascript" src="{% static '\js\animate.js' %}"></script>

  </body>

</html>